name: Deploy to HubSpot

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy HubSpot project
        uses: HubSpot/hubspot-project-actions@v2 # Use the official action
        with:
          accountId: ${{ secrets.HUBSPOT_ACCOUNT_ID }}
          personalAccessKey: ${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}
